.app-create-comment {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: #282828;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.create-comment-form textarea {
    background-color: rgba(255, 255, 255, 0.1);
}

.form-text-comment {
    padding: 20px 0;
}