@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  text-rendering: optimizeLegibility;
  outline: none;
  line-height: 1.25;
}

/* ERROR HANDLING */

.invalid {
  border: 1px solid red;
}

.form-error {
  color: red;
}